<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule /html/app/^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /html/app/index.php [L]
</IfModule>